mat-form-field {
  width: 90%;
}

.input-group-addon {
  width: 100%;
}

button.btn {
  width: 150px;
}

app-shipowner-search,
app-terminal-search,
app-port-search,
app-vessel-search,
app-voyage-search {
  width: 100%;
}

.btn-close mat-icon {
  font-size: 16px;
}